.skyrelis {
	margin: 20px; 
}

#picture {
	width: 90%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.mygtuk {
	margin-top: 20px;
	height: 180px;
	width:130px;
}

.nuotraukos-dydis {
	width: 100%;
}

.akcijaText {
	top: 20px;
}

.kelionesIcon {
	height: 80px;
}

.footerBePadding {
	padding-top: 0px;
	color: indigo-lighten-2;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }

.tekstukas {
	height:100px;
}

.judanciosFoto {
	height: 170px;
	float: left;
	padding-right: 15px;
	max-width: 250px;
}

.margin {
	margin: 5px;
}

.karusele2 a {
	color: #000;
}

.karusele2 .row {
	margin: 0px;
}

.karusele2 .colNoPad {
	padding: 0px !important;
}

.karusele2 p {
	margin-bottom: 0px;
}

.akcijaMygtukas {
	top: 60px;
}