.akcijaText {
	top: 20px;
}

.kelionesIcon {
	height: 80px;
}

.footerBePadding {
	padding-top: 0px;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }