
      /* Set the size of the div element that contains the map */
      #map {
        height: 300px;  /* The height is 400 pixels */
          /* The width is the width of the web page */
       }
	   
	   #pic {
        height: 100px;  /* The height is 400 pixels */
        width: 100px;  /* The width is the width of the web page */
       }
	   .pav {
		     /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
	   .row {
		   margin: 0px;
	   }
