<!--   Icon Section   -->
      <div class= "row">
        <div class="col s5 offset-s1">
          <div class="card horizontal">
      <div class="card-image">
        <img src="img/spain.jpeg" class="nuotraukos-dydis">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header">Ispanija</h5>
          <p>Skrydis į Madridą ir įspūdingas pažintinis turas po gražiausias Ispanijos vietas – 789 €.</p>
        </div>
      </div>
    </div>
  </div>

  <div class= "row">
        <div class="col s5 offset-s1">
          <div class="card horizontal">
      <div class="card-image">
        <img src="img/portugal.jpg" class="nuotraukos-dydis">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header">Portugalija</h5>
          <p>Atsiskyrėlė Portugalija laukia tavęs! Su " Arej" lėktuvu keliauk į Portugaliją iš Vilniaus, Kauno ir Varšuvos!</p>
        </div>
      </div>
    </div>
  </div>

    <div class="col s5">
          <div class="card horizontal">
            <div class="card-image">
              <img src="img/malta2.jpg" class="nuotraukos-dydis">
            </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h5 class="header">Malta</h5>Tiesioginis skrydis iš Vilniaus. Užsisakykite dabar tik nuo €289!</p>
        </div>
      </div>
    </div>

  <div class="col s5">
          <div class="card horizontal">
            <div class="card-image">
              <img src="img/egiptas.jpg" class="nuotraukos-dydis">
            </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h5 class="header">Egiptas</h5>Puikus Laikas Pirkti Nuostabias Atostogas Tik Nuo €351!!</p>
        </div>
      </div>
    </div>

   <div class= "row">
        <div class="col s5 offset-s1">
          <div class="card horizontal">
      <div class="card-image">
        <img src="img/greece.jpeg" class="nuotraukos-dydis">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header">Graikija</h5>
          <p>Užsisakykite kelionę dabar. Skrydis iš Vilniaus su bagažu ir pervežimais - TIK 319 €!!!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s5">
          <div class="card horizontal">
            <div class="card-image">
              <img src="img/turkey.jpg" class="nuotraukos-dydis">
            </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h5 class="header">Turkija</h5>Kelionės į Turkiją su viskas įskaičiuota nuo 315 €.</p>
        </div>
      </div>
    </div>

    </div>

        <div class="col s5">
          <div class="card horizontal">
            <div class="card-image">
              <img src="img/italija.jpg" class="nuotraukos-dydis">
            </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h5 class="header">Venecija</h5>Tiesioginis skrydis iš Vilniaus ir 4 n. viešbutyje Venecijos širdyje – 206 €!!!</p>
        </div>
      </div>
    </div>

    </div>
  </div>
    <br><br>
  </div>